<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Website Synthesis-Team" />
    <meta name="author" content="" />
    <title>Sign In</title>
    <link rel="icon" type="image/x-icon" href="/images/synthesis_icon.jpeg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style1.css" rel="stylesheet">
  </head>
  <body>
      <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
