<div class="row g-5 container">
    <div class="col-md-6">
      <h2 class="team-title">Synthesis-Team</h2>
      <p>Join And Let's Learn Together About Program Languages In Team Synthesis-Team</p>
      
    </div>
    <div class="col-md-6">
      <h2>Community</h2>
      <p>Join our community and learn together there.</p>
      <ul class="icon-list">
        <li><i class="bi bi-discord cusfont">&nbsp;<a href="/#">Discord</a></i></li>
        <li><i class="bi bi-whatsapp cusfont">&nbsp;<a href="https://chat.whatsapp.com/DE19OB0VknzHhpvVLStq4x">Whatsapp</a></i></li>
        <li><i class="bi bi-github cusfont">&nbsp;<a href="https://github.com/Synthesis-Team/">Github</a></i></li>
      </ul>
    </div>
  </div>