<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 avatar" src="/images/icon.png" alt="" width="75" height="75">
    <h1 class="display-5 fw-bold">Synthesis-Team</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Selamat datang di website kami! Apakah kamu tau Synthesis-Team? Synthesis-Team Adalah team untuk km yang belajar dan membuat program.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-secondary btn-lg px-4">details</button>
      </div>
    </div>
  </div>