<div class="px-4 py-5 my-5 text-center">
  <object data="/images/icon.svg" width="200" height="200"></object>
  <h1 class="display-5 fw-bold">Synthesis-Team</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Let's make this world more colorful with programming language
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-outline-gradient py-2" href="/login"
        ><span>Sign in</span></a
      >
    </div>
  </div>
</div>
