<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | Synthesis-Team</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/main-2.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
  </head>
  <body>
    <main class="form-signin">
		<img class="mb-4" src="/images/icon.svg" alt="" width="72" height="57"/>
		<h1 class="h3 mb-3 fw-normal">Sign In</h1>
		<%- include('layouts/msg')  %> 
        <%- include('layouts/errors')  %> 
      <form method="post" action="/users/login">
        <div class="form-floating">
          <input type="text" name="username" class="form-control" id="floatingInput"/>
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword"/>
          <label for="floatingPassword">Password</label>
        </div>
		<div>
        <%- recaptcha %>
        </div>
        <div class="checkbox mb-3">
          <label>
            Don't have an account? <a href="/users/register">register</a>
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Login
        </button>
        <p class="mt-5 mb-3 text-muted">Synthesis Team © 2020–2022</p>
      </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
