<div class="container">
  <h3>404</h3>
  <h2>Page Not Found <img src="/images/hutao_icon.png" width="45" height="45"></h2>
  <div class="buttons">
    <a href="/" class="btn btn-outline-primary"> Home </a>
  </div>
</div>