<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Not Found</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/css/nfd-style.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
  </head>
  <body id="top">
    <div class="container">
        <div class="box-nfd">
      <h2>404 Not Found</h2>
      <a class="close" href="/">&lt;</a>
      <div class="content">
        The server could not find the requested website. &#128533;
      </div>
    </div>
    </div>
    <script src="/js/nfd.js"></script>
  </body>
</html>