@font-face {
  font-family: gilroy;
  src: url("/fonts/Gilroy.otf");
}

@font-face {
  font-family: Futura;
  src: url("/fonts/futura-mid.tff")
}

.cusfont {
  font-family: gilroy;
}

li i.cusfont a {
  text-decoration: none;
  color: black;
  size: 10px;
  font-weight: bold;
}

.background-gradient {
  background: linear-gradient(#8929ad, #436aac, #43b7b8);
}

.btn-outline-gradient {
  font-family: gilroy;
  margin: auto;
  padding: 0.25rem 1.25rem;
  font-size: 18px;
  --font-variation-weight: 700;
  border-radius: 1.875rem;
  text-decoration: none;
  position: sticky;
  border: none;
  background-color: transparent;
  display: block;
  transform: 0.5s;
  width: 45% !important;
  border-radius: 2.5rem;
}

.btn-outline-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(122.32deg, #6d4aff 30.66%, #31d1d0 93.8%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transform: 0.5s;
}
