body {
  font-family: Arial, sans-serif;
  background-color: #a7bed3;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  margin: 80px 0;
}

.box-nfd {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.box-nfd h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.box-nfd .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.box-nfd .close:hover {
  color: #06D85F;
}
.box-nfd .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .box-nfd{
    width: 70%;
  }
}